.button {
    background: linear-gradient(43deg, #41a96a, #0575e6);
    cursor: pointer;
    font-weight: 600;
    display: inline-block;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    border-style: solid;
    touch-action: manipulation;
    border-radius: 30px;
    box-shadow: linear-gradient(to bottom, #41a96a, #0575e6) 1;
    color: white;
}

.button:hover {
    background-color: #fff;
}

.button:active {
    box-shadow: linear-gradient(to bottom, #41a96a, #0575e6) 1;
    transform: translate(2px, 2px);
}

@media (min-width: 768px) {
    .button {
        min-width: 120px;
        padding: 0 25px;
    }
}